@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&display=swap');

body{
  font-family: 'Nunito', serif;
  font-weight: 400;  
}

h1, h2, h3, h4 {
  font-family: "Poiret One";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;  
}

tr:nth-child(even) td{
  background-color: #f2f2f2;
}

th, td {
  min-width: initial;
  padding-top: .35rem;
  padding-bottom: .35rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

td {
  border-bottom: 0;
  border-left: 0;
}

thead{
  display: none;
}

tbody tr:last-of-type td{
  padding-bottom: .35rem;
}

.nav-list .nav-list-item .nav-list-link {
font-size: 1rem;
}

/* Fenced code block container */
.highlighter-rouge pre.highlight {
  background-color: #ffffff;    /* your background */
  color: #d93933;            /* default text color */
  border: none;              /* optional */
}

/* Fenced code block inner <code> */
.highlighter-rouge pre.highlight code {
  background-color: #ffffff;
  color: inherit;
}
