@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: 'Noto Sans Display', serif;
  font-weight: 350;  
}

h1, h2, h3, h4 {
  font-family: "Noto Serif Display";
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;  
}

tr:nth-child(even) td{
  background-color: #f2f2f2;
}

th, td {
  min-width: initial;
  padding-top: .35rem;
  padding-bottom: .35rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

td {
  border-bottom: 0;
  border-left: 0;
}

thead{
  display: none;
}

tbody tr:last-of-type td{
  padding-bottom: .35rem;
}

.nav-list .nav-list-item .nav-list-link {
font-size: 1rem;
}

